* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: inherit;
  font-family: 'Girassol', cursive, 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  width: 1640px;
  min-width: 1640px;
}

@media (max-width: 1640px) {
  .container {
    width: 1440px;
    min-width: 1440px;
  }
}

@media (max-width: 1440px) {
  .container {
    width: 1280px;
    min-width: 1280px;
  }
}

@media (max-width: 1040px) {
  .container {
    width: 1040px;
    min-width: 1040px;
  }
}

@media (max-width: 986px) {
  .container {
    width: 768px;
    min-width: 768px;
  }
}

/* Sections */
section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artists {
  height: 80vh;
  width: 100vw;
}

.artists_inside {
  width: 500px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.artists_header {
  height: 125px;
  width: inherit;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
}

.artists_header-title {
  height: 50px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  align-items: center;
  font-weight: 700;
  text-align: uppercase;
  font-size: 1.9rem;
}

.artists_header-box input {
  width: 80%;
  margin: 20px;
  display: flex;
  justify-content: flex-start;
}

.artists_header-box {
  height: 50px;
  width: 60%;
}

.artists_items {
  width: 100%;
  flex-direction: column;
  display: flex;
}

.artists_item {
  height: 100px;
  width: inherit;
  background-color: white;
  border-bottom: 1px solid#E8E8E8;

  display: grid;
  grid-template-columns: 1fr 2fr;
}

.artists_item:hover {
  background-color: lightgrey;
}

.artists_item-left {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artists_item-right-description {
  margin: 20px;
}

.artists_item-right-description p {
  position: relative;
  bottom: 20px;
}

img {
  height: 80px;
  width: 80px;
}
